@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

background {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: -1;
  }

.section {
    width: 90%;
    min-height: auto;
    margin: 2% 5%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

/*****************  Header  *****************/

.section .title {
    color: #ccff00;
    font-size: 5vmin;
    padding-top: 10px;
    margin-top: 2.5vh !important;
    margin-bottom: 0 !important;
}

.section .nav-item {
    margin: 0 auto;
    transition: .5s;
}

.section .nav-item:hover {
    transform: scale(110%);
    background-color: #74e1ff;
    border-radius: 10px 10px 0 0 / 10px 10px 0 0 ;
}

.section .nav-item .nav-link {
    color: oldlace;
    font-size: 3vmin;
}

/*****************  Body  *****************/

.section .container {
    color: oldlace;
}

.section .container .content {
    min-height: 65vh;
    padding: 10px 0;
}

/*****************  Form  *****************/

.titleform {
    text-align: center;
    font-size: 3vmin;
    color: #74e1ff;
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
}

.form p {
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 10px;
    color: #f26b50;
}

.form label {
    margin-top: 5vh;
    margin-left: auto;
}

.form label input {
    width: 50vw;
    height: 2rem;
    margin-left: 1rem;
}

.form label input::-webkit-input-placeholder {
    font-size: 10px;
    color: silver;
}

.form select {
    width: 50vw;
    height: 2rem;
    margin-left: 1rem;
    font-size: 10px;
}

.form #label-sent {
    margin-left: 0 ;
    margin-top: 5vh;
    text-align: center ;
}

.form #sent {
    width: 7.5rem;
    height: 2rem;
}

.form .post {
    color: #ccff00;
    font-size: .5rem;
}

.form .post hl {
    color: #f26b50;
    font-size: .75rem;
}

@media screen and (max-width: 1024px) {
    .form p {
        margin-left: 1rem;
    }
    
    .form label input {
        width: 40rem;
        max-width: 75vw;
    }

    .form label {
        margin-right: 50vh ;
    }

    .form select {
        width: 40rem;
        max-width: 75vw;
    }
}

/*****************  Pokemon  *****************/

.loading {
    background-color: #c1c1c1;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -webkit-mask-image: linear-gradient(-90deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: loading 0.5s infinite;
}

#loading-title {
    width: 100%;
    height: 100px;
}

#loading-text {
    width: 100%;
    height: 20px;
    margin-top: 5vw;
}

@keyframes loading {
    from {
      -webkit-mask-position: 150%;
    }
    to {
      -webkit-mask-position: -50%;
    }
  }

.pokemon-name {
    color: #f26b50;
    font-size: 1.5vmin;
    background-color: #ccff00;
    border-radius: 10px;
    padding: 5px 0;
    text-align: center;
    white-space: nowrap;
}

/*****************  Stock  *****************/

.titlexp {
    color: #ccff00;
}

/*****************  Footer  *****************/

.section footer {
    color: oldlace;
    text-align: center;
    font-size: 10px;
    padding: 10px 0;
}

.section footer a {
    color: #ccff00;
}